<div class='box question'>
    <h3>Question 7</h3>
    <p>Repeat what you did in Question 6 for this snippet as well.</p>
    <codeblock class='sample'>
        <%- include('../partials/7partial') %>
    </codeblock>
    <p>✔️ This is what a typical include looks like.</p>
</div>
