<div class="nav-bar">
  <button
    class="nav-button"
    onclick="location.href='http://localhost:8000/question7';"
  >
    Previous Exercise
  </button>
  <button
    class="nav-button"
    onclick="location.href='http://localhost:8000/question9';"
  >
    Next Exercise
  </button>
</div>
