<%- include('../partials/head') %>
<body>
  <div class="error40404">
    <p class="error404">Please... My dude... This is not where you want to be</p>
    <p class="error404">You have a question? <a href="/question9" class="error404">¯\_(ツ)_/¯</a>.</p>
  </div>
</body>