<%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %>
  <nav>
    <a href="/question1" class="navFlex">Question1</a>
    <a href="/question2" class="navFlex">Question2</a>
    <a href="/question3" class="navFlex">Question3</a>
    <a href="/question4" class="navFlex">Question4</a>
    <a href="/question5" class="navFlex">Question5</a>
    <a href="/question6" class="navFlex">Question6</a>
    <a href="/question7" class="navFlex">Question7</a>
    <a href="/question8" class="navFlex">Question8</a>
  </nav>
</body>
