<div class="btnCont">
	<button class="previousQuestion">
		Previous Question
	</button>
	<button class="homeClick" onclick="location.href='../'">
		Home
	</button>
	<button class="nextQuestion" onclick="location.href='question9'"">
		Next Question
	</button>
</div>
