<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>404: Page Not Found</title>
    <link rel="stylesheet" href="./css/homepage.css" type="text/css">
    <script src="fetch.js" defer></script>
</head>

<body>

    <div id="container">

        <h1>ain't no one here, mang.</h1>

        <a href="/">You probably want to go here.</a>

        <p>But since you're here, here's something to ponder.</p>

        <p id="norris"></p>

        <img src="https://images.unsplash.com/photo-1553385363-6d4790dbd976?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=683&q=80"
            alt="Cowboy boots">

    </div>

</body>

</html>