<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="errorMain">
      <p class="errorTitle">You Are In No Man's Land!</p>
      <div class="errorImage"></div>
      <div style="background-color: lightcyan;">
        <a href="/" class="errorButton">Click here to Return to Home Page</a>
      </div>
    </div>
  </body>
</html>
