<!DOCTYPE html>
<head>
    <title>Not Found</title>
    <link rel="stylesheet" href="./css/styles.css" />
</head>
<body class="not-found">
    <div class="image">
        <img src="cry.jpg" alt="crying">
    </div>
    <div class="not-found-text">
        <h1><span class="error-4">4</span><span class="error-0">0</span><span class="error-4">4</span>
        </h1>
        <p>The page you're trying to visit can't be found.</p>
        <button><a href="/">back to home</a></button>
    </div>
</body>
