<%- include('../partials/questions/head') %>
<head>
  <link rel="stylesheet" href="../css/styles.css" type="text/css" />
</head>
<body>
  <div class="container">
    <h2>Oh noes!!! This page does not exist!!!</h2>
    <p>Did you want to head here? <a href="/">Homepage</a></p>
    <span id="imgDisplay">
      <img src="https://source.unsplash.com/random" />
    </span>
  </div>
</body>
