<!DOCTYPE html>
<head>
  <title>404</title>
  <link rel="stylesheet" href="./css/styles.css" />
</head>
<body>
  <header>
    <h1>We Do 404s The Hard Way...</h1>
  </header>
  <div class="main">
    <h2>Two 202s!</h2>
    <div class="content">
      
      </div>
    </div>
  </div>
  <div>
    </div>
</body>