<%- include('../partials/questions/head') %>
<body>
    <div class = 'fourOfourBackground'>
        <div class= 'circle'>
            <div class = 'paragraph'>
                <p>
                    Hey...uh...well there seems to be a problem cause the page you are trying to access doesn't actually exist.
                </p>
                <p>
                    Maybe try looking on our <a href='/'>homepage</a> ?
                </p>
            </div>
        </div>
    </div>
</body>