<!DOCTYPE html>
<head>
  <title>Node: Workshop 1</title>
  <style>
    body {
      background-color: #2cd4a6;
    }
    p {
      text-indent: 50px;
      text-align: justify;
      letter-spacing: 3px;
      margin: auto;
      padding-left: 30%;
    }
    img {
      padding-left: 20%;
    }
  </style>
</head>
<body>
  <img
    src="https://laughingsquid.com/wp-content/uploads/2016/10/taco-trip.gif"
    alt=""
  />
  <p>404... This is not the page you are looking for.</p>
</body>
