<!DOCTYPE html>
<html lang="en">
  <head>
    <title>404 ERROR</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="css/styles.css" rel="stylesheet" />
  </head>
  <body class="main-404">
    <h1 class="main-404-title main-404">404 ERROR!!!</h1>
    <!-- not needed yet <script src="script.js"></script> -->
    <section class="container main-404">
      <p class="main-404-text">
        OOPS! Sorry mate, you got the wrong page he he he! Let me help you with
        the link below to return to the homepage!
      </p>
    </section>
    <div class="question-container">
      <a class="question-404-link" href="/">HOMEPAGE</a>
    </div>
  </body>
</html>
