<link rel="stylesheet" href="./css/styles404.css" />
<body>
    <div class="Text404">404... This is not the page you are looking for.</div>
    <img src='https://vignette.wikia.nocookie.net/simpsons/images/0/02/Homer_Simpson_2006.png'>
    <div><a href="/">Go back to Homepage</a></div>
</body>
