<%- include('../partials/questions/head') %>
<body>
  <header>
    <h1>Node Workshops</h1>
  </header>
  <main>
    <div class="index">
      <h2>ERROR 404 NOT FOUND</h2>
      <h3>The page you're trying to visit can't be found.</h3>
    </div>
  </main>
</body>
