<%- include('../partials/questions/head.ejs') %>
<body>
  <%- include('../partials/questions/header.ejs') %>
  <h1 class="homepage">
    Uh oh... this page does not exist... or doesn't exist anymore!
  </h1>
  <p class="homepage">Maybe you'd like to go back to the home page? ok then</p>
  <button class="nav-button homepage" onclick="location.href='/';">
    Here you go!
  </button>
</body>
