<%- include('../partials/questions/head.ejs') %>
<body>
  <%- include('../partials/questions/header.ejs') %>
  <p style="width: 80%; margin: 0 auto;">
    You lucky bastard, you found the secret page. Here's a picture of Gretchen,
    that's why the internet was created, was it not?
  </p>
  <p style="width: 80%; margin: 0 auto;">Inspirational.</p>
  <div class="frame">
    <img
      class="pic"
      src="./pictures/gretchen.jpg"
      alt="you're very lucky to have the honor of gazing upong the best cat"
    />
  </div>
</body>
