<%- include(`../partials/head.ejs`, {}) %>

<body>
	<%- include(`../partials/header.ejs`, {}) %>
	<div class="questionLinks">
		<button><a href="question1">Question 1</a></button></br>
		<button><a href="question2">Question 2</a></button></br>
		<button><a href="question3">Question 3</a></button></br>
		<button><a href="question4">Question 4</a></button></br>
		<button><a href="question5">Question 5</a></button></br>
		<button><a href="question6">Question 6</a></button></br>
		<button><a href="question7">Question 7</a></button></br>
		<button><a href="question8">Question 8</a></button></br>
		<button><a href="question9">Question 9</a></button></br>
		<button><a href="question10">Question 10</a></button></br>
	</div>
</body>
