<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HOMEPAGE - M3-1-NODE</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="css/styles.css" rel="stylesheet" />
  </head>
  <body class="homepage">
    <h1 class="main-content title">Welcome To The M3-1-NODE--INTRODUCTION</h1>
    <!-- not needed yet <script src="script.js"></script> -->
    <section class="container main-content">
      <h2 class="main-content header">
        About The Homepage
      </h2>
      <p class="main-content text">
        So this is where you begin in this new adventure. In the links below,
        you will be able to jump to the question to which you want to access. I
        hope you enjoy and have fun while exploring the beauties of EJS! Cheers!
      </p>
    </section>
    <div>
      <a class="question-link" href="/question1">Question 1</a>
      <a class="question-link" href="/question2">Question 2</a>
      <a class="question-link" href="/question3">Question 3</a>
      <a class="question-link" href="/question4">Question 4</a>
      <a class="question-link" href="/question5">Question 5</a>
      <a class="question-link" href="/question6">Question 6</a>
      <a class="question-link" href="/question7">Question 7</a>
      <a class="question-link" href="/question8">Question 8</a>
      <a class="question-link" href="/question9">Question 9</a>
      <a class="question-link" href="/question10">Question 10</a>
    </div>
  </body>
</html>
