<!DOCTYPE html>
<head>
  <title>Node: Workshop 1</title>
  <style>
    a {
      background-color: #f44336;
      color: white;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }
    a:hover {
      background-color: brown;
    }
  </style>
</head>
<body>
  <div class="links">
    <a href="question1">question1</a>
    <a href="question2">question2</a>
    <a href="question3">question3</a>
    <a href="question4">question4</a>
    <a href="question5">question5</a>
    <a href="question6">question6</a>
    <a href="question7">question7</a>
    <a href="question8">question8</a>
    <a href="question9">question9</a>
    <a href="question10">question10</a>
  </div>
</body>
