<%- include('../partials/questions/head.ejs') %>
<body>
  <%- include('../partials/questions/header.ejs') %>
  <div class="nav-home">
    <button class="nav-button" onclick="location.href='/question1';">
      Exercice 1
    </button>
    <button class="nav-button" onclick="location.href='/question2';">
        Exercice 2
      </button>
      <button class="nav-button" onclick="location.href='/question3';">
        Exercice 3
      </button>
      <button class="nav-button" onclick="location.href='/question4';">
        Exercice 4
      </button>
      <button class="nav-button" onclick="location.href='/question5';">
        Exercice 5
      </button>
      <button class="nav-button" onclick="location.href='/question6';">
        Exercice 6
      </button>
      <button class="nav-button" onclick="location.href='/question7';">
        Exercice 7
      </button>
      <button class="nav-button" onclick="location.href='/question8';">
        Exercice 8
      </button>
      <button class="nav-button" onclick="location.href='/question9';">
        Exercice 9
      </button>
      <button class="nav-button" onclick="location.href='/question10';">
        Exercice 10
      </button>
  </div>
</div>
    <button style="border: 0; color: white; background-color: white; width: 40px" onclick="location.href='/gretchen';">
    secret page
  </button>
</body>
