<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node: Workshop 1</title>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <header>
      <h1>Node: Workshop 1</h1>
    </header>
    <div class="container">
      <a class="home-links" href="/question1">Question 1</a>
      <a class="home-links" href="/question2">Question 2</a>
      <a class="home-links" href="/question3">Question 3</a>
      <a class="home-links" href="/question4">Question 4</a>
      <a class="home-links" href="/question5">Question 5</a>
      <a class="home-links" href="/question6">Question 6</a>
      <a class="home-links" href="/question7">Question 7</a>
      <a class="home-links" href="/question8">Question 8</a>
      <a class="home-links" href="/question9">Question 9</a>
      <a class="home-links" href="/question10">Question 10</a>
    </div>
  </body>
</html>
