<%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %>
  <div class="main">
    <div class="content">
          <ul>
              <li><a href='/question1'>Exercise 1</a></li>
              <li><a href='/question2'>Exercise 2</a></li>
              <li><a href='/question3'>Exercise 3</a></li>
              <li><a href='/question4'>Exercise 4</a></li>
              <li><a href='/question5'>Exercise 5</a></li>
              <li><a href='/question6'>Exercise 6</a></li>
              <li><a href='/question7'>Exercise 7</a></li>
              <li><a href='/question8'>Exercise 8</a></li>
              <li><a href='/question9'>Exercise 9</a></li>
              <li><a href='/question10'>Exercise 10</a></li>
          </ul>
    </div>
  </div>
</body>
