<body style="background: linear-gradient(to right, #2c3e50, #3498db);">
	<div class="fourOhFour" style="text-align: center; margin-top: 75px;">
		<h1>You seem to be a little lost...</h1>
		<h2>404 Not Found</h2>
		<img
			src="https://media.giphy.com/media/m12EDnP8xGLy8/giphy.gif"
			alt="404 Lost"
		/>
	</div>
	<div style="text-align: center; margin-top: 25px;">
		<button
			class="homeClick"
			onclick="location.href='../'"
			style="
				border-radius: 5px;
				font-size: 20px;
				cursor: grab;
				padding: 15px;
				background: linear-gradient(to top, #2c3e50, #3498db);
			"
		>
			Bring me back home!
		</button>
	</div>
</body>
