<% let pageNum = 1; %>
<%- include('../partials/header', {pageNum: pageNum}); %>

<div class="box answer">
  <h3>Answer</h3>
  <!-- render answer here -->
  This is a thing.
</div>
</div>
</div>
</body>