<%- include('../partials/questions/head.ejs') %>
<body>
  <%- include('../partials/questions/header.ejs') %>
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/5') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <ol>
          <% popularGirlNames.forEach((name,index)=>{ %>
          <li><%=`${index+1}. ${name}` %></li>
          <% }) %>
        </ol>
      </div>
    </div>
    <div class="nav-bar">
      <button onclick="location.href='/question3';">
        Previous Exercise
      </button>
      <button onclick="location.href='/question6';">
        Next Exercise
      </button>
    </div>
  </div>
</body>
