<%- include('../partials/questions/head') %>
<body>
  <header>
    <h1>Node: Workshop 1</h1>
  </header>
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/5') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <ol style="list-style: decimal; margin-left: 15px;">
          <% for (let name of girlNames) { %>
          <li><%- name %></li>
          <% } %>
        </ol>
      </div>
    </div>
    <%- include('../partials/questions/navigation', {previous: 4, next: 6}) %>
  </div>
</body>
