<!DOCTYPE html>
<head>
  <title>Node: Workshop 1</title>
  <link rel="stylesheet" href="./css/styles.css" />
</head>
<body>
  <header>
    <h1>Node: Workshop 1</h1>
  </header>
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/5') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <ol>
          <% popularGirlNames.forEach(name => { %>
            <!-- These list items are inside an ordered list. Why isn't the number showing? -->
            <li><%-(popularGirlNames.indexOf(name) + 1) + ". " + name%></li>
          <% }); %>
        </ol>
        <a href='/question4'>Previous page</a>
        <a href='/question6'>Next page</a>
      </div>
    </div>
  </div>
</body>
