<%- include('../partials/intro') %>
<body>
  <%- include('../partials/header') %>
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/1') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        sdsdadadadsads
      </div>
    </div>
    <a href="/">&laquo; Previous;</a>
    <a
      href="/"
      style="position: absolute; left: 50%; transform: translate(-50%);"
      >Homepage</a
    >
    <a href="/question2" style="float: right;">Next &raquo;</a>
  </div>
</body>
