<% let pageNum = 2; %>
<%- include('../partials/header', {pageNum: pageNum}) %>

      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <!-- Notice that the commenting inside the ejs brackets is JS. -->

        <p><%- sentence %></p>
        <p><%= sentence %></p>

        <!-- Keep that in mind for later. Everything between those brackets IS JavaScript. -->
      </div>
    </div>
  </div>
</body>