<%- include('../partials/questions/head') %>
<body>
  <header>
    <h1>Node: Workshop 1</h1>
  </header>
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/4') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <ol>
          <% for (let name of topNames) { %>
          <li><%- name %></li>
          <% } %>
        </ol>
      </div>
    </div>
    <%- include('../partials/questions/navigation', {previous: 3, next: 5}) %>
  </div>
</body>
