<%- include('../partials/intro') %>
<body>
  <%- include('../partials/header') %>
  <div class="main">
    <h2>Part 2</h2>
    <div class="content">
      <%- include('../partials/questions/10') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <p>No answer required here...</p>
      </div>
    </div>
    <a
      href="/"
      style="position: absolute; left: 50%; transform: translate(-50%);"
      >Homepage</a
    >
    <a href="/question9" class="previous">&laquo; Previous</a>
  </div>
</body>
