<%- include('../partials/questions/head.ejs')%>
<body>
  <header>
    <%- include('../partials/questions/header.ejs') %>
  </header>
  <div class="main">
    <h2>Part 2</h2>
    <div class="content">
      <%- include('../partials/questions/7') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <p>No answer required here...</p>
      </div>
    </div>
    <div class="buttonDiv">
      <a href="/question6"><div class="button">Previous</div></a>
      <a href="/question8"><div class="button">Next</div></a>
    </div>
  </div>
</body>
