<%- include(`../partials/head.ejs`, {}) %>

<body>
  <%- include(`../partials/header.ejs`, {}) %>

  <div class="main">
    <h2>Part 2</h2>
    <div class="content">
      <%- include('../partials/questions/8') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <p>No answer required here...</p>
      </div>
    </div>
  </div>
  <div class="btnCont">
    <button class="previousQuestion" onclick="location.href='question7'">
      Previous Question
    </button>
    <button class="homeClick" onclick="location.href='../'">
      Home
    </button>
    <button class="nextQuestion" onclick="location.href='question9'"">
      Next Question
    </button>
  </div>

</body>
