<%- include('../partials/questions/head.ejs') %>
<body>
  <%- include('../partials/questions/header.ejs') %>
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/1') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        I have found the answer div
      </div>
    </div>
    <div class="nav-bar">
      <button onclick="location.href='/question2';">
        Next Exercise
      </button>
    </div>
  </div>
</body>
