<!DOCTYPE html>
<head>
	<title>Node: Workshop 1</title>
	<link rel="stylesheet" href="./css/styles.css" />
</head>
<body>
	<header>
		<h1>Node: Workshop 1</h1>
	</header>
	<div class="main">
		<h2>Part 2</h2>
		<div class="content">
			<%- include('../partials/questions/9') %>
			<div class="box answer">
				<h3>Answer</h3>
				<!-- render answer here -->
				<p>No answer required here...</p>
			</div>
		</div>
	</div>
	<div class="btnCont">
		<button class="previousQuestion" onclick="location.href='question8'">
			Previous Question
		</button>
		<button class="homeClick" onclick="location.href='../'">
			Home
		</button>
		<button class="nextQuestion" onclick="location.href='question10'"">
			Next Question
		</button>
	</div>
</body>
